################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MemeSaver/memes
/MemeSaver/bin
/MemeSaver/token.txt
/MemeSaver/config.txt
/MemeSaver/.vs/MemeSaver
/MemeSaver/obj
/MemeSaver/Properties
